<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name = 'grasp fix'>
	<!-- MACRO FOR THE ROBOT ARM ON THE TABLE-->
	<xacro:macro name="mimic_fix">
      <gazebo>
          <!-- loading plugin: mimic joints works in gazebo now -->
          <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_2FG7">
              <joint>left_finger_joint</joint>
              <mimicJoint>right_finger_joint</mimicJoint>
              <!--multiplier>1.0</multiplier>
              <offset>0.0</offset-->
          </plugin>           
      </gazebo>
	</xacro:macro>
</robot>
